h1 {
    color: brown;
}

.heading-1 {
    color: red;
}

/*#heading-one {
    color: olivedrab;
}*/

.header-container {
    color: goldenrod;
    border: 5px solid rgb(146, 224, 146);
    padding-top: 5x;
    padding-right: 6px;
    padding-bottom: 7px;
    padding-left: 8px;
}

.post {
    color: #3dbc65;
    border: 3px sienna;
}

.post p {
    color: blue;
}

.post_title {
    color: purple;
    text-decoration: underline;
}

.post_text {
    color: palevioletred;
}

.post .post_disclaimer{
    color:lightcoral
    font-size: 12px
    font-style:italic;
}
